<!-- <app-header></app-header>
<app-main></app-main>
<app-footer></app-footer> -->
<!-- <app-data-binding></app-data-binding> -->
<!-- <app-event-binding></app-event-binding> -->
<!-- <app-tw-way-binding></app-tw-way-binding> -->
<!-- <app-structural-directives></app-structural-directives> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-parent></app-parent> -->
<!-- <app-employee-list></app-employee-list>
<app-employee-details></app-employee-details> -->

<!-- <nav>
    <a routerLink="/employees-list">Employees</a>
    &nbsp;
    <a routerLink="/departments">Departments</a>
</nav>

<router-outlet></router-outlet> -->
<app-tdf></app-tdf>